<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title> Home</ion-title> -->
    <ion-searchbar  mode="ios" placeholder="" inputmode="text" type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="never"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list>
    <ion-card *ngFor="let item of [0,1,2,3,4];">
      <!-- <ion-card-header>
        <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
        <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header> -->
      <!-- <img alt="Avatar" class="image" style="width:100%"> -->
      <!-- <div class="container"> -->
        <img alt="Avatar" class="image" style="width:100%">
      <!-- </div> -->



      <ion-card-content class="ion-no-padding">
        <ion-buttons  slot="primary">
          <ion-button (click)="onClick()">
            <ion-icon slot="icon-only" name="trophy"></ion-icon>
          </ion-button>
          <ion-button (click)="download(item)">
            <ion-icon slot="icon-only" name="download"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <!-- <div class="container">
    
  </div> -->
</ion-content>
