
config-file{
    align-items: center;
    align-content: center;
    div{
        text-align: center;
    }
}

ion-card{
    width: auto;
    height: 90%;
    ion-card-content{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    } 
}

img{
    width: max-content;
    height: max-content;
}